<template>
  <div class="main">
    <div class="main-content">
      <img :src="imgList[0]" alt="">
      <img :src="imgList[1]" alt="">
      <img :src="imgList[2]" alt="">
      <img :src="imgList[3]" alt="">
    </div>
    <div id="tool" class="tool" @touchstart.stop.prevent="touchStart" @touchmove.stop.prevent="touchMove"
      @touchend.stop.prevent="touchEnd">
      <!-- <button @click="test" style="z-index: 1111">test</button> -->
      <img v-if="index !== 0" :src="index === 0?null:imgList[index-1]" alt="" :style="'left:' + (left - 100) + 'vw'">
      <img :src="imgList[index]" alt="" :style="'left:' + left + 'vw'">
      <img v-if="index !== imgList.length - 1" :src="imgList[index+1]" alt="" :style="'left:' + (left + 100) + 'vw'">
    </div>
  </div>
</template>

<script>
import apple from "../assets/apple.jpg";
import banana from "../assets/banana.jpg";
import cat from "../assets/cat.jpg";
import orange from "../assets/orange.jpg";
import sqlFormatter from"sql-formatter"

export default {
  created() {
    console.log(sqlFormatter.format('select * from test where id = 10'))
  },
  data() {
    return {
      imgList: [apple, banana, cat, orange],
      index: 1,
      left: 0,
      finalIndex: 1,
      timer: null,
      startPosition: {},
      sql: 'select * from test where id = 10'
    };
  },
  methods: {
    touchStart(val) {
      if (this.timer) {
        clearTimeout(this.timer);
        this.index = this.finalIndex;

        document.querySelectorAll(".tool>img").forEach((item) => {
          item.style.transition = "0s";
          return item;
        });
        this.left = 0;
      }
      this.startPosition.clientX = val.changedTouches[0].clientX;
      this.startPosition.clientY = val.changedTouches[0].clientY;
      console.log("start");
    },
    touchMove(val) {
      console.log(val.srcElement.clientWidth);
      // console.log(val.changedTouches[0].clientY);
      // console.log(val.changedTouches[0].screenX);
      // console.log(val.changedTouches[0].screenY);
      console.log(val.changedTouches[0].clientX - this.startPosition.clientX);
      this.left =
        ((val.changedTouches[0].clientX - this.startPosition.clientX) /
          val.srcElement.clientWidth) *
        100;
      console.log("final" + this.finalIndex);
      if (this.left > 50) {
        if (this.finalIndex === 0) {
          return;
        } else {
          this.finalIndex = this.index - 1;
        }
      }
      if (this.left < -50) {
        if (this.finalIndex === this.imgList.length - 1) {
          return;
        } else {
          this.finalIndex = this.index + 1;
        }
      }
      console.log(this.finalIndex);
      console.log("move");
    },
    touchEnd() {
      if (this.index > this.finalIndex) {
        this.left = 100;
      } else if (this.index < this.finalIndex) {
        this.left = -100;
      } else {
        this.left = 0;
      }

      document.querySelectorAll(".tool>img").forEach((item) => {
        item.style.transition = "1s";
        return item;
      });
      this.timer = setTimeout(() => {
        this.index = this.finalIndex;

        document.querySelectorAll(".tool>img").forEach((item) => {
          item.style.transition = "0s";
          return item;
        });
        this.left = 0;
      }, 1000);

      console.log("end");
    },
  },
};
</script>
<style lang="less" scoped>
.main {
  position: relative;
  width: 100%;
  &-content {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .tool {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    > img {
      position: absolute;
    }
    > img:nth-child(1) {
      width: 100%;
      left: -100vw;
    }
    > img:nth-child(2) {
      width: 100%;
      left: 0;
    }
    > img:nth-child(3) {
      width: 100%;
      left: 100vw;
    }
  }
}
</style>