<template>
  <div class="home">
    <img
      alt="Vue logo"
      src="../assets/logo.png"
    >
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <span>{{sql}}</span>
    <button @click="test">test</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import { format } from "sql-formatter";
import axios from "axios";
export default {
  name: "Home",
  components: {
    HelloWorld,
  },
  data() {
    return {
      sql: "select * from test where id = 10",
    };
  },
  methods: {
    test() {
      console.log(this.sql);
      this.sql = format("select * from test where id = 10");
      console.log(this.sql);
      this.sql = this.sql.replace(/[\r\n]/g,"");
      console.log(this.sql);
      // this.sql = this.sql.replace(/\ +/g,"");
      // console.log(this.sql)
    },
  },
};
</script>
